.block{
  background: white;
  width:400px;
  height:100%;
  position: fixed;
  z-index:200000000000;
  right:0;
  top:0;
  padding:10px;
  box-shadow: 5px 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.block-header > select{
    padding:15px;
    width:100%;
    border-radius:10px;
    font-size: 15px;
    font-weight: bold;
}

.block-card{
    margin-top:10px;
    box-shadow: 5px 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    padding:10px;
    border-radius:4px;
}

.block-card-image{
    object-fit: cover;
}
.block-card-buttons button{
    padding:10px;
    border:none;
    background:rgb(109, 109, 167);
    border-radius:10px;
    color: white;
    display: flex;
    align-items: center;
}